{% extends 'layout.html' %}
{% block title %} About {% endblock %}
{%block body %}

<div style="padding: 80px 25px;" class=" container">


    <div class="grid">
        <div class="col-2">
            <div style="position: relative;margin-top: 0;" class="user_image shadow">
                <img class="" src="../static/images/upload/my_image.jpg" alt="image">
            </div>

        </div>
        <div style="    padding-top: 13px;" class="col-8">hi, i'm <br>
            <h4 class="red_color">ismail Muhammed </h4>
            and this is my Cs50 2020 Final Project
        </div>
    </div>

</div>

{% endblock %}